@import "tailwindcss";

/* Custom styles */
@layer base {
  body {
    @apply font-poppins bg-[#F7F8FA] text-gray-800;
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}
