@import "tailwindcss";

/* Custom styles */
@layer base {
  body {
    @apply font-poppins bg-[#020617] text-[#F8FAFC];
  }
}

@layer utilities {
  .scrollbar-hide {
    scrollbar-width: none;
    -ms-overflow-style: none;
  }

  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}